

/* Global */

* {
 padding: 0;
 margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: #EEF5F8;
}

:root {
  --sidebarColor:  #001A38;
}

.flex-container,
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.container header {
  width: 100%;
}

header a {
  display: block;
  float: right;
  margin: 10px 25px 0 0;
  font: 600 0.9em "Fira Sans", sans-serif;
  text-decoration: none;
  color:#001A38;
}

main {
  width: 80%;
  padding: 15px;
}

.password-card,
.settings-card {
  background: #fff;
  border-radius: 25px;
  padding: 35px;
  width: 40%;
  margin: 10% auto 0 auto;
}

.password-card h3,
.settings-card h3,
.notes-card h3,
.note-modal h3 ,
.account-modal h3,
.edit-account-modal h3,
.accounts-card h3 {
  color: #E5F3FA;
  font: 700 1.2em "Fira Sans", sans-serif;
  color:#001A38;
}

.password-card form ,
.settings-card form {
  width: 97%;
  margin-top: 10px;
}

.settings-card form label,
.note-modal form label {
  color: #001A38;
  font: 400 0.8em "Fira Sans", sans-serif;
}

.password-card form input[type='text'],
.settings-card form input[type='email'],
.settings-card form input[type='password'],
.note-modal form input[type='text'],
.note-modal form input[type='email'] {
  width: 98.5%;
  height: 30px;
  padding-left: 5px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid rgba(201,201,201,0.8);
  font: 300 0.9em "Fira Sans", sans-serif;
  color:#001A38;
  outline: transparent;
}

.password-card form input[type='button'],
.settings-card form input[type='submit'],
.note-modal form input[type='submit'],
.account-modal form input[type='submit'],
.edit-account-modal form input[type='submit']{
  background: #31AFE6;
  font: 500 0.9em "Fira Sans", sans-serif;
  color:#001A38;
  width: 175px;
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/*  Sidebar menu */

.sidebar {
  background: var(--sidebarColor);
  width: 25%;
  height: 100vh;
}

.sidebar header #logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 25px;
  margin-top: 40px;
}

.sidebar #logo img  {
  width: 34px;
  height: 34px;
}

.sidebar h1 {
  color: #E5F3FA;
  font: 900 1.6em "Nunito Sans", sans-serif;
  margin-left: 10px;
}

.sidebar nav {
  padding: 25px;
}

.sidebar nav ul li {
  list-style-type: none;
  color: #E5F3FA;
  padding: 10px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #E5F3FA;
  padding-left: 8px;
  font: 400 0.9em "Fira Sans", sans-serif;
}

/* Password generator */

.password-card form select {
  background: #fff;
  color:#A1A1A1;
  width: 100%;
  height: 35px;
  border: 1px solid rgba(201,201,201,0.8);
  border-radius: 5px;
  margin: 5px 0 15px 0;
  outline: transparent;
}

#clipboard {
  font: 500 0.9em "Fira Sans", sans-serif;
  border: 1px solid rgba(201,201,201,0.8);
  border-radius: 5px;
  width: 100%;
  height: 35px;
  margin: 15px 0;
  line-height: 2.5em;
  text-align: center;
  display: none;
}

.password-card sup {
  display: none;
  font: 500 0.8em "Fira Sans", sans-serif;
  color:#A1A1A1;
}

#clipboard span {
  background: rgba(49, 175, 230, 0.3);
  padding: 2px 15px;
  cursor: pointer;
}

#clipboard i {
  margin: 10px 0 0 5px;
  font-size: 1.2em;
  color: #A1A1A1;
  display: none;
}

/* Notes */

.notes-card {
  background: #fff;
  border-radius: 25px;
  padding: 35px;
  width: 50%;
  margin: 10% auto 0 auto;
}

.notes-card h3 {
  margin-bottom: 10px;
}

.note-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.note-details ul,
 .account-details ul {
  width: 100%;
  padding: 15px 0 10px 0;
  border-bottom: 1px solid rgba(201,201,201,0.8);
}

.note-details ul li,
.account-details ul li {
  display: inline;
  list-style-type: none;
  font: 400 0.8em "Fira Sans", sans-serif;
  color: #001A38;
}

.edit-note,
.edit-item {
  font: 500 1em "Fira Sans", sans-serif;
  text-decoration: underline;
  text-transform: lowercase;
  color:#001A38;
  cursor: pointer;
  float: right;
  padding-right: 20px;
  margin-top: 2px;
}

.remove-note,
.remove-item {
  font: 500 1em "Fira Sans", sans-serif;
  text-decoration: underline;
  text-transform: lowercase;
  color:#001A38;
  cursor: pointer;
  float: right;
  margin-top: 2px;
}

.edit-note:hover,
.edit-item:hover,
.remove-note:hover,
.remove-item:hover
{
  color:#31AFE6;
}

#add-note,
#add-item {
  background: #31AFE6;
  font: 500 0.9em "Fira Sans", sans-serif;
  color:#001A38;
  width: 150px;
  height: 40px;
  margin: 25px 0 0 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.pagination {
  background: #31AFE6;
  font: 500 0.9em "Fira Sans", sans-serif;
  background: transparent;
  margin-top: 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}

/* Account manager */

.accounts-card {
  background: #fff;
  border-radius: 25px;
  padding: 35px;
  width: 50%;
  margin: 10% auto 0 auto;
}

.accounts-card h3 {
  margin-bottom: 10px;
}

/* modal windows */

.overlay {
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999 !important;
}

.note-modal form {
  margin-top: 15px;
}

.note-modal h3,
.account-modal h3 {
  margin-top: 35px;
}

.note-modal {
  background: #fff;
  width: 25%;
  height: auto;
  padding: 25px;
  border-radius: 25px;
  margin: 8% auto 0 auto;
}

.close {
  font: 500 0.9em "Fira Sans", sans-serif;
  color:#001A38;
  float: right;
}

.account-modal,
.edit-account-modal {
  background: #fff;
  width: 50%;
  height: auto;
  padding: 35px;
  border-radius: 25px;
  margin: 5% auto 0 auto;
}

.account-modal form,
.edit-account-modal form{
  width: 97%;
  margin-top: 15px;
}

.account-modal form label,
.edit-account-modal form label {
  display: inline-block;
  color: #001A38;
  font: 400 0.8em "Fira Sans", sans-serif;
  margin: 15px 0 5px 0;
}

.account-modal form textarea,
.note-modal form textarea,
.edit-account-modal form textarea {
  width: 98.5%;
  height: 130px;
  padding: 10px 0 0 5px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid rgba(201,201,201,0.8);
  font: 300 0.9em "Fira Sans", sans-serif;
  color:#001A38;
  outline: transparent;
}

.account-modal form input[type='password'],
.account-modal form input[name='amount'],
.edit-account-modal form input[name='amount'],
.edit-account-modal form input[name='mobile']{
    width: 47.5%;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid rgba(201,201,201,0.8);
    font: 300 0.9em "Fira Sans", sans-serif;
    color:#001A38;
    outline: transparent;
}

.account-modal form input[type='email'],
.edit-account-modal form input[name='due_date'],
.edit-account-modal form input[type='password']{
    width: 47.5%;
    height: 30px;
    height: 30px;
    padding-left: 5px;
    margin: 10px 17px 0 0;
    border-radius: 5px;
    border: 1px solid rgba(201,201,201,0.8);
    font: 300 0.9em "Fira Sans", sans-serif;
    color:#001A38;
    outline: transparent;
}

.account-modal form input[type='tel']{
    width: 47.5%;
    height: 30px;
    height: 30px;
    padding-left: 5px;
    margin: 10px 20px 0 0;
    border-radius: 5px;
    border: 1px solid rgba(201,201,201,0.8);
    font: 300 0.9em "Fira Sans", sans-serif;
    color:#001A38;
    outline: transparent;
}

.account-modal form input[name='category']{
    width: 47.5%;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid rgba(201,201,201,0.8);
    font: 300 0.9em "Fira Sans", sans-serif;
    color:#001A38;
    outline: transparent;
}

.edit-account-modal form input[name='name'],
.edit-account-modal form input[type='email'],
.account-modal form input[type='date'],
.edit-account-modal form input[name='category'],
.account-modal form input[name='name'] {
    width: 98.5% !important;
    height: 30px;
    padding-left: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(201,201,201,0.8);
    outline: transparent;
}

.account-modal form input[name='amount']{
    width: 98.5% !important;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid rgba(201,201,201,0.8);
}
