{% extends 'base.html' %}
{% block content %}
<div class="flex-container">
   <div class="left-column">
       <header>
           <div id="logo">
               <img src="{{ url_for('static', filename='images/logo.png') }}">
               <h1>Guard Dog</h1>
           </div>
       </header>
       <div class="hero">
           <h3>Online Password Manager</h3>
           <p>Save passwords, account details and important notes</p>
           <div class="features">
               <ul>
                  <li><i class="fa-solid fa-lock"></i>Secure passwords</li>
                  <li><i class="fa-solid fa-clipboard-list"></i>Save notes</li>
               </ul>
           </div>
       </div>
   </div>
   <div class="right-column">
   <div class="signin-card check-email">
    {% if current_user.is_authenticated %}
        <h3><i class="fa-solid fa-envelope"></i>Success</h3>
        <p>You are now confirmed</p>
        <ul>
          <li><a href="{{ url_for('dashboard')}}" id="dashboard-button">Click here for your dashboard</a></li>
        </ul>
    {% else %}
        <h3><i class="fa-solid fa-envelope"></i>Confirmation was unsuccessful</h3>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
             {% for category, message from messages %}
               <p class="{{ category }}">{{ message }}</p>
             {% endfor %}
           {% endif %}
        {% endwith %}
        <ul>
          <li>Didn&apos;t receive the e-mail? <a href="{{ url_for('send_link')}}">Resend link</a></li>
        </ul>
    {% endif %}
  </div>
  </div>
</div>
{% endblock %}
