{% extends 'base.html' %}
{% block content %}
<div class="flex-container">
   <div class="left-column">
       <header>
           <div id="logo">
               <img src="{{ url_for('static', filename='images/logo.png') }}">
               <h1>Guard Dog</h1>
           </div>
       </header>
       <div class="hero">
           <h3>Online Password Manager</h3>
           <p>Save passwords, account details and important notes</p>
           <div class="features">
               <ul>
                  <li><i class="fa-solid fa-lock"></i>Secure passwords</li>
                  <li><i class="fa-solid fa-clipboard-list"></i>Save notes</li>
               </ul>
           </div>
       </div>
   </div>
   <div class="right-column">
    <h3>Forgot password?</h3>
    <form method="post">
       <input type="email" name="email" placeholder="Enter your e-mail address" required>
       <input type="submit" value="Reset password">
    </form>
    <span><a href="{{ url_for('signin')}}">Back to sign in</a></span>
  </div>
</div>

{% endblock %}
