{% extends 'base.html' %}
{% block content %}
<div class="container">
  {% include 'partials/menu.html' %}
  <main>
      <header><a href="">Sign out</a></header>
      <div class="password-card">
          <h3>Password generator</h3>
          <form method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="text" name="password-length" placeholder="Password length(8-48 characters)" required>
          <select name="character-type">
              <option value="">Alphanumeric</option>
              <option value="">Alphanumeric and special characters(stronger)</option>
              <option value="">Letters</option>
              <option value="">Numbers</option>
          </select>
          <div id="clipboard"><i class="fa-solid fa-copy"></i></div>
          <input type="submit" value="Generate password">
          </form>
      </div>
  </main>
</div>
{% endblock %}
