{% extends 'base.html' %}
{% block content %}
<div class="container">
  {% include 'partials/menu.html' %}
  <main>
    <header><a href="">Sign out</a></header>
      <div class="password-card">
          <h3>Password generator</h3>
          <form id="passwdGenForm">
          <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
          <input type="text" name="password-length" id="password-length"  placeholder="Password length(8-48 characters)" required>
          <select name="character-type" id="character-type">
              {% for character in character_types %}
              <option value="{{ character['name']|lower }}">{{ character['name']|lower }}</option>
              {% endfor %}
          </select>
          <sup>Click on password to copy</sup>
          <div id="clipboard"><span id="copy-password"></span></div>
          <input type="button" value="Generate password" id="generate-password">
          </form>
      </div>
  </main>
</div>
{% endblock %}
