{% extends 'base.html' %}
{% block content %}
<div class="flex-container">
   <div class="left-column">
       <header>
           <div id="logo">
               <img src="{{ url_for('static', filename='images/logo.png') }}">
               <h1>Guard Dog</h1>
           </div>
       </header>
       <div class="hero">
           <h3>Online Password Manager</h3>
           <p>Save passwords, account details and important notes</p>
           <div class="features">
               <ul>
                  <li><i class="fa-solid fa-lock"></i>Secure passwords</li>
                  <li><i class="fa-solid fa-clipboard-list"></i>Save notes</li>
               </ul>
           </div>
       </div>
   </div>
   <div class="right-column">
    <div class="signin-card">
      <h3>Password reset</h3>
      <p>Your password has been successfully reset click below to sign in</p>
       <ul>
         <li><a href="{{ url_for('signin')}}" id="password-reset-button">Sign in</a></li>
       </ul>
    </div>
  </div>
</div>
{% endblock %}
