{% extends 'base.html' %}
{% block content %}
<div class="flex-container">
   <div class="left-column">
       <header>
           <div id="logo">
               <img src="{{ url_for('static', filename='images/logo.png') }}">
               <h1>Guard Dog</h1>
           </div>
       </header>
       <div class="hero">
           <h3>Online Password Manager</h3>
           <p>Save passwords, account details and important notes</p>
           <div class="features">
               <ul>
                  <li><i class="fa-solid fa-lock"></i>Secure passwords</li>
                  <li><i class="fa-solid fa-clipboard-list"></i>Save notes</li>
               </ul>
           </div>
       </div>
   </div>
   <div class="right-column">
    <div class="signin-card">
    <h3>Sign in</h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
          <ul class="flash-messages">
            {% for category, message in messages %}
               <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
       {% endif %}
    {% endwith %}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
       <input type="email" name="email" placeholder="E-mail" required>
       <input type="password" name="password" placeholder="Password" required>
       <label><input type="checkbox" name="remember_me" value="true">&nbsp;Remember me</label>
       <input type="submit" value="Sign in">
       <input type="submit" value="Sign up">
    </form>
    <span><a href="{{ url_for('forgot_password')}}">Forgot your password?</a></span>
    </div>
  </div>
</div>
{% endblock %}
